<!-- First Row
<div class="app-header-top">
  <div class="logo">Studio</div>
  <div class="subtitle">Editor</div>
</div>

 Second Row 
<div class="app-header-sub">
  <input
    class="header-btn editor"
    [(ngModel)]="editorText"
    (blur)="onTitleChange()"
    placeholder="Title" />

  <input
    class="header-btn user"
    [(ngModel)]="userText"
    (blur)="onUserModeChange()"
    placeholder="Tags" />

  <button class="help-btn" (click)="showHelp()">?</button>
</div> -->
